@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Tenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  html, body {
    margin: 0;
    padding: 0;
  }
  
  #wrap {
    min-height: 88.95vh;
    position: relative;
    width: 100%; 
    background-color: #f2f2f2;
  }
  
  footer {
    width: 100%;
    height: 90px;
    bottom: 0px;
    position: absolute;
    padding-top: 15px;
    color: #808080;
    font-size: 11px;
    display: flex;
    background-color: white;
  }
  
  footer a {
    display: inline-block;
    margin: 0 0px 0px 10px;
    color: #808080; 
    font-size: 11px;
  }
  
  footer p {
    margin-top: 10px; margin-bottom: 0;   
    font-size: 15px;
    width: 100%;
  }
  
  footer p span {
    display: inline-block;
    margin-left: 30px;
    padding-left: 126px;
  }
  
  .figma {
    width: 50px;
    height: 50px;
    margin-right: 0px;
  }
  
  .github {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    padding-right: 135px;
  }
  
  .header {
    width: 80%;
    height: 72px;
    margin: 0 auto 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'IBMPlexSansKR-Regular';
  }
  
  .header h1 a {
    text-decoration: none;
    color: rgb(40, 40, 229);
    font-family: 'Tenada';
  }
  
  .header .nav ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .header .nav ul li a {
    text-decoration: none;
    display: inline-block;
    color: black;
    margin-top: 13px;
    font-size: 20px;
  }
  
  .header .nav a:hover {
    color: rgb(161, 161, 161);
  }

  .sec {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    position: relative;
    padding: 0px 0;
    font-size: 17px;
  }

  .temp-class {
    position: relative;
    /* padding: 75px 0; */
    margin-top: 75px;
  }

  .profile {
    border-radius: 140px;
    justify-content: space-between;
    padding:0;
    /* background-color: blue;
    color:white;
    padding: 70px 70px;
    text-decoration: none; */
    display: inline-block;
  }

  .contents1 {
    position: absolute;
    background-color: rgb(214, 214, 214);
    top:40%;
    left:40%;
  }

  .contents2 {
    position: absolute;
    background-color: rgb(214, 214, 214);
    top:80%;
    left:40%;
  }

  .contents3 {
    position: absolute;
    background-color: rgb(214, 214, 214);
    top:auto;
    left:auto;
  }

  .contents4 {
    position: absolute;
    background-color: rgb(214, 214, 214);
    top:auto;
    /* top:auto; - 여기 해당 부분 top값하고 left 값 수정해야함 */
    left:auto;
  }

  .profile_m {
    justify-content: space-between;
    justify-content:space-around;
    margin:2px;
    font-size: 30px;
  }

  h2 {
    justify-content:space-around;
    padding:0;
    text-align: center;
    display: inline-block;
    line-height: 60px;
    border-radius: 15px;
    width:300px;
    background-color: rgb(214, 214, 214);
    color: rgb(63, 73, 81);
    padding: 50px 50px;
    text-decoration: none;
  }

  .contents {
    display: flex;
    height: 300%;
    justify-content: center;
    flex-direction: column;
    margin-top: 120px;
  }