* {
    box-sizing: border-box;
}


.profile {
    margin:80px;
    margin-left: 25px;
    padding:0;
    background-color: blue;
    color:white;
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

 /*이렇게 하면 footer 부분이 오른쪽으로 자꾸 뜨는데 어떻게 해야할지를 모르겠어요ㅠㅠ
 그리고 header랑 footer에 코드를 복사해도 적용이 안되어서 같이 이것도 여쭤보고 싶습니다 
 여기에 프로필도 가운데 상단에 위치하도록, 가운데 원형으로 바꾸고 싶은데 어떻게 해야할 지를 모르겠어요ㅠ*/
 
h2 {
    margin:80px;
    padding:0;
    float:left;
    margin-left: 25px;
    line-height: 80px;
    background-color: rgb(223, 223, 223);
        color: rgb(0, 0, 0);
        padding: 50px 50px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
