




.profile {
    background-color: blue;
    color:white;
    padding: 25px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


h2 {
    background-color: blue;
        color: white;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
